In [3]:
import yfinance as yf
import pandas as pd


nvda = yf.Ticker("NVDA")
data = nvda.history(period="max")

serie = pd.Series(data['Close'], index=data.index)

print(serie.head())

Date
1999-01-22 00:00:00-05:00    0.037621
1999-01-25 00:00:00-05:00    0.041562
1999-01-26 00:00:00-05:00    0.038337
1999-01-27 00:00:00-05:00    0.038218
1999-01-28 00:00:00-05:00    0.038098
Name: Close, dtype: float64

In [5]:

gold = yf.Ticker("GLD")
data = gold.history(period="max")


serie2 = pd.Series(data['Close'], index=data.index)


print(serie2)

Date
2004-11-18 00:00:00-05:00     44.380001
2004-11-19 00:00:00-05:00     44.779999
2004-11-22 00:00:00-05:00     44.950001
2004-11-23 00:00:00-05:00     44.750000
2004-11-24 00:00:00-05:00     45.049999
                                ...
2024-08-20 00:00:00-04:00    232.460007
2024-08-21 00:00:00-04:00    232.149994
2024-08-22 00:00:00-04:00    229.369995
2024-08-23 00:00:00-04:00    232.020004
2024-08-26 00:00:00-04:00    232.759995
Name: Close, Length: 4975, dtype: float64